<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
    <div class="container">
        <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
            <img src="./assets/img/brand/soumais-logo.png" />
        </a>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a [routerLink]="['/home']"><img src="./assets/img/brand/soumais-logo.png" /></a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav align-items-lg-center ml-lg-auto navbar-nav-hover">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tooltip" [routerLink]="['/home']" title="Página Inicial">
                        <span class="nav-link-inner--text">Inicio</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tooltip" (click)="scroll('plans')" title="Conheça nossos planos" style="cursor: pointer">
                        <span class="nav-link-inner--text">Planos</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tooltip" [routerLink]="['/questions']" title="Like us on Facebook">
                        <span class="nav-link-inner--text">Questões</span>
                    </a>
                </li>
                <li class="nav-item d-none d-lg-block ml-lg-4 dropdown">
                    <a [routerLink]="['/login']" class="btn btn-neutral" data-toggle="dropdown" role="button">
                        <span class="nav-link-inner--text">Entrar</span>
                    </a>
                    <div class="dropdown-menu">
                        <a [routerLink]="['/cad-questions']" class="dropdown-item">Cadastro de Questões</a>
                        <a [routerLink]="['/user-profile']" class="dropdown-item">Perfil</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>