<div class="modal-content">
    <div class="modal-body p-0">
        <div class="card bg-secondary shadow border-0">
            <div class="card-body">
                <div class="text-center mb-4">
                    <h6>Atualizar dados</h6>
                    <button type="button" class="close" aria-label="Close" (click)="close()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form role="form">
                    <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                        <div class="input-group input-group-alternative">
                            <input class="form-control" placeholder="Email" type="email" (focus)="focus=true" (blur)="focus=false">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>