<ngb-tab [title]="title">
  <ng-template ngbTabContent class="shadow-none">
      <div class="table-responsive">
          <table class="table table-striped">
              <thead>
                  <tr class="row m-0">
                      <th scope="col" class="col-3">
                          <button class="btn btn-sm btn-primary" type="button">
                              <span class="btn-inner--text mr-1">Novo</span>
                              <span class="btn-inner--icon"><i class="fa fa-plus"></i></span>
                          </button>
                      </th>
                      <th scope="col" class="col-3">Código</th>
                      <th scope="col" class="col-6">{{title}}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of dataToList" class="row m-0">
                      <td class="col-3 d-flex justify-content-around">
                          <button class="btn btn-sm btn-primary" type="button"
                              (click)="open(classic, item, type)">
                              <i class="fa fa-pencil" aria-hidden="true"></i>
                          </button>
                          <i class="fa fa-trash" aria-hidden="true"></i>
                      </td>
                      <td class="col-3">{{item.id}}</td>
                      <td class="col-6">{{item[type]}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </ng-template>
</ngb-tab>